# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
astronomer-cosmos
apache-airflow-providers-snowflake
astro-sdk-python[snowflake]>=0.11
soda-core-snowflake= 3.3.22
